/* banner-sixth */

.banner-sixth{
    padding: 260px 0 120px;
}
.banner-sixth .background-image{
    top: -132px;
}
.banner-sixth .content{
    width: 95%;
    max-width: unset;
}
@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 991px) {
    .banner-sixth{
        padding: 150px 0 120px;
    }
    .banner-sixth{
        padding: 150px 0 60px;
    }
    .banner-sixth .background-image{
        top: 0;
    }
}
@media screen and (max-width: 575px) {

}

/* banner-sixth */