/* banner-top-level */

.banner-top-level{
    padding-top: 260px;
    padding-bottom: 0;
}
.banner-top-level .content{
    margin-bottom: 50px;
    max-width: 605px;
}
@media screen and (max-width: 1024px) {
    .banner-top-level{
        padding: 200px 0 80px;
    }
    .banner-top-level .content{
        margin-bottom: 0;
    }
    .banner-top-level .content p{
        margin-bottom: 0;
    }
    .banner-top-level .industry-section{
        padding: 0;
    }
    .banner-top-level .service-section{
        padding-bottom: 0;
    }
    .banner-top-level .complete-protection-section{
        padding-bottom: 0;
    }
}
@media screen and (max-width: 991px) {
    .banner-top-level .industry-section .main-title p{
        display: none;
    }
    .banner-top-level .content{
        padding-bottom: 80px;
    }
    .banner-top-level .common-box .content{
        padding-bottom: 0;
    }
    .banner-top-level .complete-protection-section .main-title{
        margin-bottom: 80px;
    }
}
@media screen and (max-width: 575px) {
    .banner-top-level .content p{
        font-size: 24px;
        line-height: 33px;
    }
    .banner-top-level{
        padding-top: 190px;
    }
}

/* banner-top-level */

/* industry-section */

.industry-section .background-image{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.15;
}
.industry-section .background-image img{
    height: 50%;
    width: 50%;
}
.industry-section .row, .industry-box, .industry-box .content, .industry-box .arrow-btn{
    position: relative;
    z-index: 1;
}
.industry-section .main-title{
    width: 95%;
}
.industry-section .main-title .title{
    color: var(--dark-color);
}
.industry-section .main-title p{
    font-size: 24px;
    line-height: 33px;
}
.industry-box{
    min-height: 280px;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.industry-box .image{
    position: absolute;
    background-color: var(--dark-color);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.industry-box .image img{
    mix-blend-mode: luminosity;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
}
.industry-box .content{
    padding: 32px;
    margin-bottom: 0;
}
.industry-box .arrow-btn .arrow-icon{
    background-color: var(--primary-color);
}
.industry-box .title{
    color: #fff;
}
@media screen and (max-width: 1024px) {
    .industry-section{
        padding: 80px 0;
    }
    .industry-section .background-image img {
        height: 100%;
        width: 100%;
    }
    .industry-box{
        min-height: 220px;
    }
}
@media screen and (max-width: 575px) {
    .industry-box{
        min-height: 280px;
    }
    .industry-box .title {
        font-size: 32px;
    }   
    .industry-section .background-image{
        height: 300px;
    }
}

/* industry-section */