

@media screen and (min-width: 1400px) {
    .container{
        max-width: 1345px;
    }
    .cust-container{
        max-width: 975px;
        margin: 0 auto;
        padding: 0 12px;
    }
    .sub-menu span.dropdown-btn{
        background-color: transparent;
    }
    .primary-menu .menu-dropdown:hover > .sub-menu{
        display: block;
        visibility: visible;
        opacity: 1;
    }
}
@media screen and (max-width: 1024px) {
    .btn-box.transprance:hover{
        background-color: transparent;
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
}

@media screen and (max-width: 991px) {

    .main-title .title .inner-text br{
        display: none;
    }
}
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 575px) {
    .main-title .title .inner-text{
        display: inline;
    }
    .container{
        padding: 0 10px;
    }
    .row{
        margin-left: -10px;
        margin-right: -10px;
    }
    .row > *{
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media screen and (max-width: 420px) {

}